html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $defaultFont;
  font-size: $defaultFontSize;
  font-weight: $normalWeight;
  height: 100vh;
}

header {
  background-color: $primaryColor;
  color: $secondaryColor;
  padding: 1rem $gutter;
  h1 {
    font-size: $headerFontSize;
    font-weight: $normalWeight;
  }
  h2 {
    font-size: $defaultFontSize;
    font-weight: $normalWeight;
  }
}

div#wrapper {
  height: 100%;
  // use for dark theme just to test
  &.theme--dark {
    background-color: $themeDarkColor;
    main {
      background-color: $themeDarkColor;
      color: $themeDarkFontColor;

      .chat {
        .messages {
          .right {
            color: $fontColor;
          }
        }
      }
    }
  }
}

nav {
  background-color: $secondaryColor;
  ul li {
    float: left;
    width: 15%;
  }
  ul li a {
    display: block;
    text-align: center;
    font-weight: $boldWeight;
    padding: 0.5rem 0;
    color: $primaryColor;
    text-decoration: none;
    transition: background 0.75s ease, color 0.75s ease;
  }

  ul li a.active {
    background-color: darken($secondaryColor, 10%);
  }

  ul li a:hover {
    color: $secondaryColor;
    background-color: $primaryColor;
  }
}

main {
  padding: 1rem $gutter;
  /* Chat */
  .chat {
    margin: 1rem $gutter;
    .messages {
      display: flex;
      flex-direction: column;

      .left {
        padding: 0.2rem;
        align-self: flex-start;
        .user {
          p {
            color: darken($secondaryColor, 30%);
            padding: 0.1rem 0;
            font-size: $secondaryFontSize;
          }
        }
        .content {
          padding: 0.5rem;
          border: 1px solid darken($secondaryColor, 20%);
          border-bottom-left-radius: 7px;
          font-size: $defaultFont;
        }
      }
      .right {
        padding: 0.2rem;
        align-self: flex-end;
        .user {
          text-align: end;
          p {
            color: darken($secondaryColor, 30%);
            padding: 0.1rem 0;
            font-size: $secondaryFontSize;
          }
        }
        .content {
          background-color: $secondaryColor;
          padding: 0.5rem;
          border: 1px solid darken($secondaryColor, 20%);
          border-bottom-right-radius: 7px;
          font-size: $defaultFont;
        }
      }
    }

    form#chat {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      input {
        color: $fontColor;
        padding: 0.75rem 1em;
        border: none;
        border-radius: 5px;
        background-color: scale-color($secondaryColor, $lightness: 50%);
        -webkit-appearance: none;
        -moz-appearance: none;
        width: calc(100% - 80px);
      }
      input::placeholder {
        font-size: $captionFontSize;
      }
      input:focus {
        outline: none;
        box-shadow: 0 0 10px #000000;
      }
      .button {
        cursor: pointer;
        border: none;
        color: $primaryColor;
        background-color: transparent;
        margin: auto;
        i.fas.fa-paper-plane{
          padding: 0.75rem 1em;
        }
      }
    }
  }

  form#settings {
    // max-width: 25rem;
    label.top {
      font-size: $defaultFont;
      display: block;
      padding: 0.75em 0;
      input,
      select {
        width: 100%;
        font-size: $defaultFont;
        color: $fontColor;
        padding: 0.75rem 1em;
        margin-top: 0.75rem;
        border: none;
        border-radius: 5px;
        background-color: scale-color($secondaryColor, $lightness: 50%);
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      input:focus {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5) inset;
      }
      input:required {
        border: 1px solid red;
      }
      input:required:valid {
        border-color: $primaryColor;
      }
    }

    h2 {
      font-size: $defaultFont;
      display: block;
      padding: 0.75em 0;
      font-weight: $normalWeight;
    }

    label.sbs.radio {
      display: flex;
      align-items: center;
      font-size: $secondaryFontSize;
      padding: 0.75em 0;
    }

    input.submitBtn {
      -webkit-appearance: none; /*remove the Safari mobile default styling*/
      -moz-appearance: none; /*remove the Firefox mobile default styling*/
      border: none;
      background-color: $primaryColor;
      font-size: $defaultFontSize;
      color: $secondaryColor;
      font-weight: $normalWeight;
      border-radius: 1em;
      padding: 0.5rem 0.75rem;
      width: 100%;
      cursor: pointer;
    }
  }
}

footer {
  width: 100%;
  background-color: $primaryColor;
  p {
    text-align: center;
    color: $secondaryColor;
    padding: 0.75rem 0;
    font-size: $captionFontSize;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
