html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $defaultFont;
  font-size: $defaultFontSize;
  font-weight: $normalWeight;
}

header {
  background-color: $primaryColor;
  color: $secondaryColor;
  padding: 1rem $gutter;
  h1 {
    font-size: $headerFontSize;
    font-weight: $normalWeight;
  }
  h2 {
    font-size: $defaultFontSize;
    font-weight: $normalWeight;
  }
}

nav {
  background-color: $secondaryColor;
  ul li {
    float: left;
    width: 15%;
  }
  ul li a {
    display: block;
    text-align: center;
    font-weight: $boldWeight;
    padding: 0.5rem 0;
    color: $primaryColor;
    text-decoration: none;
    transition: background 0.75s ease, color 0.75s ease;
  }

  ul li.active a {
    background-color: darken($secondaryColor, 10%);
  }

  ul li a:hover {
    color: $secondaryColor;
    background-color: $primaryColor;
  }
}

main {
  padding: 1rem $gutter;

  /* Chat */
  .chat {
    .messages {
      display: flex;
      flex-direction: column;
      .user {
        p {
          color: darken($secondaryColor, 30%);
          padding: 0.1rem 0;
          font-size: $secondaryFontSize;
        }
      }
      .left {
        padding: 0.2rem;
        align-self: flex-start;
        .content {
          padding: 0.5rem;
          border: 1px solid darken($secondaryColor, 20%);
          border-bottom-left-radius: 7px;
          font-size: $defaultFont;
        }
      }
      .right {
        padding: 0.2rem;
        align-self: flex-end;
        .content {
          background-color: $secondaryColor;
          padding: 0.5rem;
          border: 1px solid darken($secondaryColor, 20%);
          border-bottom-right-radius: 7px;
          font-size: $defaultFont;
        }
      }
    }
  }
}

footer {
  width: 100%;
  background-color: $primaryColor;
  p {
    text-align: center;
    color: $secondaryColor;
    padding: 0.75rem 0;
    font-size: $captionFontSize;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
