$primaryColor :#9C0201;
$secondaryColor: #E7E6E1;
$fontColor: #555555;
$defaultFont: 'Lato', sans-serif;
$defaultFontSize: 16px;
$normalWeight: 300;
$boldWeight: 700;
$gutter: 2%;

$headerFontSize: 2rem;
$defaultFontSize: 1rem;
$secondaryFontSize: 0.9rem;
$captionFontSize: 0.8rem;